{% extends 'landing_pages/base.html' %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-10 col-sm-12 text-center">
				<h1 class="display-2">Share What Inspires You</h1>
				<p class="mt-3">Share your day-to-day religious and spiritual practices, follow people who interest you, and be inspired!</p>
				<div class="d-flex justify-content-center mt-5">
					<a href="{% url 'account_login' %}" class="btn btn-light mr-2">Login!</a>
					<a href="{% url 'account_signup' %}" class="btn btn-dark mr-2">Create Account</a>
				</div>
			</div>
		</div>
	</div> 


{% endblock content %}